.idea/
__pycache__/
site/
gait.log
diff.txt
commit_message.txt
venv
.env

# Pytest
.coverage
coverage.xml
pytest.xml
pytest-coverage.txt

# Distribution / packaging
/build/
/dist/
*.egg
*.eggs
*.egg-info/
