aiohttp==3.8.4
aiosignal==1.3.1
astroid==2.15.5
async-timeout==4.0.2
attrs==23.1.0
black==23.3.0
bleach==6.0.0
build==0.10.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
click-config-file==0.6.0
configobj==5.0.8
dill==0.3.6
docutils==0.20.1
frozenlist==1.3.3
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
importlib-metadata==6.7.0
isort==5.12.0
jaraco.classes==3.2.3
Jinja2==3.1.2
jq==1.4.1
keyring==24.2.0
lazy-object-proxy==1.9.0
logger==1.4
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.4.3
more-itertools==9.1.0
multidict==6.0.4
mypy==1.4.1
mypy-extensions==1.0.0
openai==0.27.8
packaging==23.1
pathspec==0.11.1
pkginfo==1.9.6
platformdirs==3.8.0
Pygments==2.15.1
pyjq==2.6.0
pylint==2.17.4
pyproject_hooks==1.0.0
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
readme-renderer==40.0
regex==2023.6.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.4.2
six==1.16.0
smmap==5.0.0
tiktoken==0.4.0
tomli==2.0.1
tomlkit==0.11.8
tqdm==4.65.0
twine==4.0.2
typing_extensions==4.7.1
urllib3==2.0.3
watchdog==3.0.0
webencodings==0.5.1
wrapt==1.15.0
yarl==1.9.2
zipp==3.15.0
